.h1, h1 { 
  font-size: 1.8rem; 
  font-weight: 700; 
  margin-bottom: 15px; 
  letter-spacing: 2px; 
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif; 
}

.h2, h2 { 
  font-size: 2rem; 
  font-weight: 400; 
  margin-bottom: 30px; 
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif; 
}

.h3 { 
  font-family: 'JMH Typewriter', monospace; 
}

.small { 
  font-size: .9rem; 
}

.meta, .subtitle, .mono, .obra-subtitulo, .description p, .photo-info, .video-info { 
  font-family: 'JMH Typewriter', monospace; 
}

.obra-titulo { 
  font-size: 2.5rem; 
  font-weight: 700; 
  margin-bottom: 10px; 
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif; 
}